* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-image: url("./cxp/assets/floor_bg_1.jpg");
  display: flex;
}

#navbar {
  background-color: #222222dd;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2.5rem;
  gap: 0.5rem;
}

button {
  text-decoration: none;
  cursor: pointer;
  border: none;
  min-height: 1.2rem;
  width: 5rem;
  background-color: transparent;
  border-radius: 0.2rem;
  text-align: center;
}

#logout {
  background: url("./cxp/assets/logout.svg") no-repeat center;
  margin-bottom: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}

.elevator-btn {
  color: white;
  border: 1px solid #ffffffcc;
  flex-grow: 1;
}

#acces-card {
  width: 5rem;
  margin: 4rem auto;
}

#home-btn {
  color: white;
  border: 1px solid #ffffffcc;
  padding: 0.8rem;
}
